[Desktop Entry]
Encoding=UTF-8
Name=EqualishCoin (testnet)
Comment=Desktop wallet for EqualishCoin Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung EqualishCoin (testnet)
Exec=equalishcoin-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/peercoin-testnet128.png
MimeType=x-scheme-handler/equalishcoin;
Categories=Application;Network;
